@import "../../../global/theme/theme";

button:focus{
  outline: none;
}

.toolbar-title{
  cursor: pointer;
  color: white;
}

.mat-toolbar-row {
  height: $header-height;
}

@media only screen and (min-device-width: 480px){
  .toolbar-title{
    margin-left: 20px;
  }
}

ul{
  padding-inline-start: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
}
