/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row {
   margin-right: 0px;
   margin-left: 0px;
}

#webcam-container{
  video{
    max-width: 90vw;
  }
}
